<!DOCTYPE HTML>
<html>
<body>

<div class="form-style-10">

	<center> <h1> <img src="static/TRx_logo.png" alt="Trxxy" style="width:150px;height:150px;" > </h1></center>
	<center>  <h1> Proposed Drug Schedule  </h1></center>



	<form>


		<div class="CSSTableGenerator">
		<table>
		<tr>
			

				<td> Drug Name </td>

			

				<td> Time </td>

			
		</tr>
			
		<tr>
			
				
			
				
					<td> Atanazavir </td>
				
			
				
					<td> 8:00 AM </td>
				
			
	   </tr>
		
		<tr>
			
				
			
				
					<td> Nadolol </td>
				
			
				
					<td> 8:00 AM </td>
				
			
	   </tr>
		
		<tr>
			
				
			
				
					<td> Vicodin </td>
				
			
				
					<td> 1:00 PM </td>
				
			
	   </tr>
		
		<tr>
			
				
			
				
					<td> Simvastatin  </td>
				
			
				
					<td> 9:00 PM </td>
				
			
	   </tr>
		
		</table>

		</div>

	<iframe id="includedContent" src=static/areaplot.html style="width:700px;height:700px;" align="center"></iframe>

		<div class="CSSTableGenerator">
		<table>
		<tr>
			

				<td> Drug #1 </td>

			

				<td> Drug #2 </td>

			

				<td> Drug Interaction </td>

			
		</tr>
			
		<tr>

			<td> Simvastatin </td>
			<td> Nadolol </td>
			<td> Increased risk of bradycardia </td>
	   </tr>
		
		<tr>

			<td> Simvastatin </td>
			<td> Atazanavir </td>
			<td> Can cause Rhabdomyolysis </td>
	   </tr>
		
		<tr>

			<td> Vicodin </td>
			<td> Nadolol </td>
			<td> Causes increased nausea </td>
	   </tr>
		
		<tr>

			<td> Vicodin </td>
			<td> Atazanavir </td>
			<td> Increased risk of tremors </td>
	   </tr>
		
		</table>

		</div>

	    <div class="button-section">


     <center> <input type="button" name="Sign Up" value="Create Physician Report" align="center"/>
			<input type="button" name="Sign Up" value="Create Patient Schedule" align="center"/>
		 </center>
     <span class="privacy-policy">

     </span>
    </div>
	</form>
</div>
</body>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Form Style 10</title>
<link href=static/style.css rel='stylesheet' type='text/css'>

</head>

</html>