<!DOCTYPE HTML>
<html>
<body>

<div class="form-style-10">


<h1>
    <center><img src="static/TRx_logo.png" alt="Trxxy" style="width:200px;height:200px;" align="middle"></center>
    <span><i><center>Optimizing medication regimens, personalizing treatments</center></i></span>
</h1>
             <center>   <h2>  <b>Proposed Drug Schedule </b></h2></center>



	<form>


		<div class="CSSTableGenerator">
		<table>
		<tr>
			

				<td> Drug Name </td>

			

				<td> Time </td>

			
		</tr>
			
		<tr>
			
				
			
				
					<td> Atanazavir </td>
				
			
				
					<td> 8:00 AM </td>
				
			
	   </tr>
		
		<tr>
			
				
			
				
					<td> Nadolol </td>
				
			
				
					<td> 8:00 AM </td>
				
			
	   </tr>
		
		<tr>
			
				
			
				
					<td> Vicodin </td>
				
			
				
					<td> 1:00 PM </td>
				
			
	   </tr>
		
		<tr>
			
				
			
				
					<td> Simvastatin  </td>
				
			
				
					<td> 9:00 PM </td>
				
			
	   </tr>
		
		</table>

		</div>

	<iframe id="includedContent" src=static/areaplot.html style="width:700px;height:700px;" align="center"></iframe>

		<div class="CSSTableGenerator">
		<table>
		<tr>
			

				<td> Drug #1 </td>

			

				<td> Drug #2 </td>

			

				<td> Drug Interaction </td>

			
		</tr>
			
		<tr>

			<td> Simvastatin </td>
			<td> Nadolol </td>
			<td> Increased risk of bradycardia </td>
	   </tr>
		
		<tr>

			<td> Simvastatin </td>
			<td> Atazanavir </td>
			<td> Can cause Rhabdomyolysis </td>
	   </tr>
		
		<tr>

			<td> Vicodin </td>
			<td> Nadolol </td>
			<td> Causes increased nausea </td>
	   </tr>
		
		<tr>

			<td> Vicodin </td>
			<td> Atazanavir </td>
			<td> Increased risk of tremors </td>
	   </tr>
		
		</table>

		</div>

	    <div class="button-section">
			<form method="get" action="static/Example_Plot.png">
            <input type="submit" name="Home" value="Home"/>
            </form>

             <form method="get" action="static/PhysicianReport.pdf">
            <input type="submit" name="Physician_report" value="Create Physician Report"/>
            </form>

            <form method="get" action="static/PatientSchedule.pdf">
            <input type="submit" name="Patient_report" value="Create Patient Report"/>
            </form>

    </div>
	</form>
</div>
</body>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>TimeRx</title>
<link href=static/style.css rel='stylesheet' type='text/css'>

</head>

</html>
