<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='style.css')}}'>
</head>
<body>

<div class="form-style-10">
<a href="
<h1>TimeRx<span>Timing Rx to minimize side effects from drug-drug interactions</span></h1>
<form action="." method="post">
    <div class="section">Patient Name </div>
    <div class="inner-wrap">
        <label for="name"><input type="text" name="name" /></label>
    </div>

    <div class="section"><span>1</span>Rx 1 </div>
    <div class="inner-wrap">
        <label for="drug1">Drug <input type="text" name="drug1" /></label>
        <label for="dose1">Dose <input type="text" name="dose1" /></label>
    </div>

    <div class="section"><span>2</span> Rx 2 </div>
    <div class="inner-wrap">
        <label for="drug2">Drug <input type="text" name="drug2" /></label>
        <label for="dose2">Dose <input type="text" name="dose2" /></label>
    </div>

    <div class="section"><span>3</span>Rx 3 </div>
    <div class="inner-wrap">
        <label for="drug3">Drug <input type="text" name="drug3" /></label>
        <label for="dose3">Dose <input type="text" name="dose3" /></label>
    </div>

    <div class="section"><span>4</span> Rx 4 </div>
    <div class="inner-wrap">
        <label for="drug4">Drug <input type="text" name="drug4" /></label>
        <label for="dose4">Dose <input type="text" name="dose4" /></label>
    </div>

    <div class="button-section">
     <input type="submit" name="Submit" value="Generate T-Rx Report"/>
     <span class="privacy-policy">
     <input type="checkbox" name="field7">You agree to our Terms and Policy.
     </span>
    </div>
</form>
</div>

</body>
</html>
