<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='style.css')}}'>
</head>
<body>

  <form action="." method="post">
    <label for="drug1">
      <span>Drug 1</span>
      <input type="text" name="drug1" id="drug1" />
    </label>
    <label for="dose1">
      <span>Dose 1</span>
      <input type="text" name="dose1" id="dose1"/>
    </label>
    <label for="drug2">
      <span>Drug 2</span>
      <input type="text" name="drug2" id="drug2" />
    </label>
    <label for="dose2">
      <span>Dose 2</span>
      <input type="text" name="dose2" id="dose2"/>
    </label>
    <label for="drug3">
      <span>Drug 3</span>
      <input type="text" name="drug3" id="drug3" />
    </label>
    <label for="dose3">
      <span>Dose 3</span>
      <input type="text" name="dose3" id="dose3"/>
    </label>
     <label for="drug4">
      <span>Drug 4</span>
      <input type="text" name="drug4" id="drug4" />
    </label>
    <label for="dose4">
      <span>Dose 4</span>
      <input type="text" name="dose4" id="dose4"/>
    </label>

    <input type="submit" value="Go">
  </form>

</body>
</html>



